#productActive
{
    color: #FFF;
}
.productInternal
{
    background: url("../img/bg-produtos.jpg") no-repeat center;
    /*the background-size property should always be under the background property or it will be subscribed*/
    background-size: cover;
}
.productItem
{
    padding-top: 60px;
}
.productItem h2
{
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: .1em;
    text-transform: uppercase;
    position: relative;
    /*Using position relative now we can use top and left*/
    /*The h2 is relative to itself, we can use negative pixels*/
    top:-170px;
    text-align: center;
    color: #FFF;
    /*
        Comentario em portugues: o position relative deixa uma sombra onde o elemento foi criado originalmente, isso é para
        tirar o espacamento deixado pela sombra do elemento, no caso, a sombra do h2
    */
    margin-bottom: -46px;
}
.productItem h2:after, .productItem h2:before
{
    content: "";
    display: block;
    height: 3px;
    width: 60px;
    background: #FFF;
    margin: 6px auto;
    
}

.productIcon
{
    background: #000;
    padding: 70px 0;
 
}
.productIcon img
{
    margin: 0 auto;
}

.productInfo
{
    background: #000;
}
.productInfo p
{
    color: #FFF;
    font-size:18px;
    padding: 30px 40px;
    line-height: 25px;
    height: 182px;
}
.productInfo ul li
{
    background: #FEC53F;
    text-transform: uppercase;
    border: 1px solid #000;
    font-size:18px;
    font-weight: bold;
    line-height: 20px;
    float: left;
    text-align: center;
    width: 229px;
    height: 49px;   
    padding-top: 16px; 
    
}
.productInfo ul li:nth-child(even)
{
    margin-left:2px;
}
/*Budget Section*/

.budgetFormSection
{
    padding: 40px 0;
    width: 100%;
    margin-top:60px;
    background: #000;
    text-align: center;
    
}
.budgetH2
{
    color: #FEC53F;
}

.budgetForm
{
    padding-right: 60px;
    text-align: left;
}

.budgetForm label
{
    display: block;
    margin-bottom: 4px;
    color: #FFF;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:18px;
    line-height: 25px;
}
.budgetForm input, .budgetForm textarea
{
    display: block;
    width: 100%;
    border: 4px solid #FEC53F;
    background:none;
    color: #FFF;
    font-size:14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 7px 10px;
    margin-bottom: 20px;
    outline:none;
}

/*goes to the element that has these two classes*/
.budgetH2.h2Title:after
{
    background: #FEC53F;
}

.btn
{
    background: none;
    padding: 7px 40px;
}

.budgetData
{
    text-align: left;
    color: #FFF;
}
.budgetData h3
{
    color: #FEC53F;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 25px;
    
}
.budgetData span
{
    display: block;
    font-size:18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 30px;
}
.sendTo
{
    margin-bottom: 40px;
}
.budgetData ul
{
    padding-right: 60px;
}
.budgetData ul li
{
    padding: 10px 15px;
    font-size: 14px;
}
.budgetData p
{
    margin: 8px 0;
}
.budgetData ul li:nth-child(odd)
{
    background: rgba(63, 63, 63, 0.4);
    
}